@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=M+PLUS+1+Code&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #16ae58;
    width: 10vw;
    height: 100vh;
    font-family: 'M PLUS 1 Code', sans-serif;
    padding: 35px;
}

#nav_side {}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer1 {
    /* background-color: green; */
    height: 70vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.myPic img {
    height: 100%;
}


/*Aligning the divs vertically in center*/

.myInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Encode Sans', sans-serif;
}

.hello {
    font-size: 85px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.about {
    font-size: 40px;
}

.buttons button {}